<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=9"/>
    <meta charset="UTF-8"/>
    <title>BGKBielBienne</title>

<link rel="stylesheet" href="resources/BGKBielBienne-all.css"/>
<script type="text/javascript" src="all-classes.js"/>
    
       <link rel="stylesheet" href="resources/default/app.css"/>
       
       <script type="text/javascript">
           Ext.onReady(function() {
        	   Ext.application('BGKBielBienne.Application');
           });
       </script>
</head>
<body>ExtJs Applicatin will start shortly</body>
</html>
